:root {
    --success: #36c45c;
	--info: #1280c9;
	--warning: #c99410;
    --error: #be2e35;
	--success-hover: #2b8b45;
	--error-hover: #91252c;
	--info-hover: #1d5c97;
	--warning-hover: #a1780f;

	--marginNotiCont: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
	border: 1px dashed white;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.container {
    border: 2px solid red;
    width: 90%;
    max-width: 1000px;
    margin: 80px auto;
}

.hero .title {
    font-weight: 800;
    font-size: 6.2rem;
    margin-bottom: 40px;
}

.hero .buttons-container {
    display: flex;
    gap: 30px;
}

.btn {
	padding: 10px 20px;
	font-size: 20px;
	background: #000;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 10px;
	transition: 0.3s ease all;
}

.btn.success {
	background: var(--success);
}
.btn.error {
	background: var(--error);
}
.btn.info {
	background: var(--info);
}
.btn.warning {
	background: var(--warning);
}

/* Btn Hover */
.btn.success:hover {
	background: var(--success-hover);
}
.btn.error:hover {
	background: var(--error-hover);
}
.btn.info:hover {
	background: var(--info-hover);
}
.btn.warning:hover {
	background: var(--warning-hover);
}

/*Notifications*/

.notifications-container {
	position: fixed;
	bottom: var(--marginNotiCont);
	right: var(--marginNotiCont);
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.notification {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	animation-name: opening;
	animation-duration: 400ms;
	animation-timing-function: ease-out;
	/* animation: opening 2s ease-out; */
	position: relative;
	overflow: hidden;
}

.notification.success {
	background-color: var(--success);
}

.notification.info {
	background-color: var(--info);
}

.notification.warning {
	background-color: var(--warning);
}

.notification.error {
	background-color: var(--error);
}

/* Content */
.notification .content {
	padding: 1rem;
	display: grid;
	grid-template-columns: 2rem auto;
	align-items: center;
	gap: 1rem;
}

.notification .content .icon {
	color: rgba(0, 0, 0, 0.4);
}

.notification .content .title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.3rem;
}

/* Close Button */
.notification .close-btn {
	border: none;
	background: none;
	cursor: pointer;
}

.notification .close-btn .icon:hover {
	color: #fff;
}

.notification .close-btn .icon {
	width: 40px;
	height: 40px;
	color: rgba(0, 0, 0, 0.4);
	transition: 0.3s ease all;
}

/* Animations */

@keyframes opening {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes closing {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% + var(--marginNotiCont)));
	}
}

@keyframes autoClose {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

/* Animation classes */

.notification.closing {
	animation-name: closing;
	animation-duration: 400ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.notification.autoClose::after {
	content: "";
	width: 100%;
	height: .3rem;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	animation-name: autoClose;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}